<div style="text-align: center">
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img height="500" src="https://i.ytimg.com/vi/khcsNBgWvgU/maxresdefault.jpg" alt="Random first slide">
    </div>
    <div class="carousel-caption" style="background-color: black">
      <h3>Build Your Perfect Deck</h3>
      <p>Our website is made for perfect card searching to help your crafting game</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img height="500" src="https://media.wizards.com/2016/images/daily/WtP20160429_April-3.jpg" alt="Random second slide">
    </div>
    <div class="carousel-caption" style="background-color: black">
      <h3>Share your cubes</h3>
      <p>Recreate your cubes and share them with others online</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img  height="500" src="https://i.ytimg.com/vi/AAvLC3fz068/maxresdefault.jpg" alt="Random third slide">
    </div>
    <div class="carousel-caption center-block" style="background-color: black">
      <h3>Take a Peak at Perfection</h3>
      <p>Look up and compare the most expensive cards in Magic the Gathering to date</p>
    </div>
  </ng-template>
</ngb-carousel>
</div>
<div class="row ml-4 mt-4">
  <div class="card col-3 ml-5" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Magic Cards</h5>
      <p class="card-text">Come see our extensive list of cards!</p>
      <a href="#" class="btn btn-primary" routerLink="/cards" routerLinkActive="active">Go To Cards</a>
    </div>
  </div>
  <div class="col-3 ml-5 mr-5">
  </div>
  <div class="card col-3 ml-5" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Your Deck</h5>
      <p class="card-text">If you have some cards selected, why not go to your deck?</p>
      <a href="#" class="btn btn-primary" routerLink="/deck-list" routerLinkActive="active">Go To Your Deck</a>
    </div>
  </div>
</div>
